[Unit]
Description= robot for pi yun
After=network-online.target firewalld.service
StartLimitIntervalSec = 60
Starteimitnurst = 1

[Service]
Type = simple
#替换-config的参数为真实路径，测试时可以指定--log-level 5，否则不用指定
ExecStart = {{ workspace }}/pi-robot --config https://pi-miner.oss-cn-beijing.aliyuncs.com/tools/robot/config.toml
ExecStop = /usr/bin/pkill pi-robot
RestartSec = 10
TimeoutStopSec = 5
Restart = on-failure